$colorHeader: #a77c5d;
$colorText: #332317;
$colorBackground: #f4e8de;

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.weight-monitor {
  width: 428px;
  height: 762px;
  background: $colorBackground;
  .weight-monitor__header {
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    height: 56px;
    background: $colorHeader;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    .weight-monitor__header-menu {
      color: $colorText;
      width: 15.5px;
      height: 11.5px;
      padding-top: 22.25px;
      padding-left: 16.25px;
    }
    .weight-monitor__header-text {
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: $colorText;
      padding-right: 180px;
    }
    .weight-monitor__header-plus {
      color: $colorText;
      width: 18px;
      height: 18px;
      padding-top: 19px;
      padding-right: 19px;
    }
  }
  .weight-monitor__content {
    .weight-monitor__content-card {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 16px;
      display: flex;
      justify-content: space-between;
      width: 404px;
      height: 108px;
      border: 1px solid #a77c5d;
      box-shadow: 0px 4px 4px #c4c4c4;
      border-radius: 12px;
      .weight-monitor__content-card-img {
        width: 60px;
        height: 60px;
        padding-top: 24px;
        padding-left: 24px;
      }
      .weight-monitor__content-card-name {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        color: $colorText;
        padding-right: 90px;
        .weight-monitor__content-card-name-number {
          color: #000000;
          font-size: 16px;
          line-height: 24px;
          color: #000000;
        }
      }
      .weight-monitor__content-card-note {
        color: $colorText;
        padding-left: 31px;
        padding-top: 15.5px;
      }
      .weight-monitor__content-card-date {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        color: #000000;
        padding-right: 12px;
        padding-top: 25px;
      }
    }
  }
}
